@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root {
  --headings: "Orbitron";
  --buttons: "Silkscreen";
  --body-text: "Montserrat";
  --pure-white: #FFFFFF;
  --russian-violet: #462255;
  --syracuse-orange: #C84C09;
  --golden-yellow: #FFD400;
  --dogwood-rose: #D90368;
  --hunter-green: #436436;
  --dark-mode: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}